@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;700&family=Inter:wght@100;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000;
}

a:link,
a:visited {
  text-decoration: none;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

h1,
h2,
p,
span {
  color: #fff;
}

section {
  min-height: 100vh;
}

body {
  background-color: #1c1a27;
  font-family: "Inter", sans-serif;
}

h1,
h2 {
  font-family: "Cormorant", serif;
  font-size: 2rem;
  margin: 2rem 0;
}

p {
  line-height: 32px;
}

a {
  color: #fff;
}

.hide-mobile {
  display: none;
}

body::before {
  content: "";
  position: absolute;
  background-color: #2a2835;
  height: 100vh;
  width: 70vw;
  top: 0;
  right: 0;
  z-index: -1;
}

.nav {
  height: 4rem;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  font-family: "Cormorant", serif;
  letter-spacing: 1px;
}
.nav__logo {
  color: #d3ff56;
  margin-right: auto;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 2px;
}
.nav__link {
  margin-right: 3rem;
  font-size: 1rem;
  font-weight: 400;
  display: none;
}
.nav__menu div {
  width: 20px;
  height: 2px;
  margin: 4px 0;
  background-color: #d3ff56;
}
.nav__menu div:nth-child(2) {
  width: 9px;
}
.nav .accent {
  border: solid 1px #d3ff56;
  padding: 0.5rem 1.25rem;
  transition: scale ease-in 300ms;
}
.nav .accent:hover {
  scale: 1.1;
}

.home {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(10, 8vh);
  align-items: center;
  padding: 0 2rem;
}
.home__details {
  grid-column: span 12;
  grid-row: 4/8;
}
.home__details h1 {
  font-size: 2.5rem;
}
.home__details h1 span {
  color: #d3ff56;
}
.home__details p {
  padding: 1.5rem 0;
}
.home__details button {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  color: white;
  font-size: 1rem;
  margin-top: 2rem;
}
.home__details button i {
  padding-left: 1rem;
  color: #d3ff56;
  font-size: 1rem;
}
.home img {
  max-width: 250px;
}
.home__image {
  display: none;
}
.home__socials {
  display: none;
}

.skills {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 2rem;
}
.skills__content h1 {
  font-size: 2rem;
  font-weight: 400;
}
.skills__content p {
  line-height: 2rem;
  font-family: "Cormorant", serif;
}
.skills__icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.6rem;
  margin-top: 2rem;
}
.skills__icons--wrapper {
  width: 40%;
}
.skills__icons--wrapper i {
  font-size: 4rem;
  color: #2a2835;
}
.skills__icons--wrapper p {
  font-size: 1rem;
  color: #d3ff56;
  font-family: "Cormorant", serif;
}

.portfolio {
  padding: 0 2rem;
}
.portfolio h1 {
  font-weight: 400;
}
.portfolio__header {
  margin-bottom: 2rem;
}
.portfolio__filter a {
  color: rgba(255, 255, 255, 0.5);
}
.portfolio__filter a:not(:last-child) {
  margin-right: 2rem;
}
.portfolio__filter--active {
  border-bottom: solid 1px #d3ff56;
  color: #fff !important;
}
.portfolio__project {
  width: 100%;
  margin-bottom: 2rem;
}
.portfolio__project button {
  background-color: #292734;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 1rem;
  color: white;
  font-weight: 300;
  letter-spacing: 1px;
}
.portfolio__project hr {
  margin-bottom: 1rem;
  color: #272531;
}

@media screen and (min-width: 768px) {
  body::before {
    height: 52vh;
    width: 50vw;
  }
  .nav__link {
    display: inherit;
  }
  .nav__menu {
    display: none;
  }
  .home {
    padding: 0;
  }
  .home__details {
    display: inherit;
    padding: 0 2rem;
    grid-row: 6/11;
  }
  .home__image {
    display: inherit;
    grid-column: 5/8;
    grid-row: 2/6;
  }
  .home__socials {
    width: 2rem;
    grid-column: -1;
    grid-row: 3/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1.8rem;
    background-color: #d3ff56;
  }
  .home__socials i {
    font-size: 2rem;
  }
  .home__socials p {
    font-size: 1.2rem;
    color: black;
    font-weight: bold;
  }
  .home__socials a:nth-child(2) {
    padding: 1.5rem 0;
  }
  .skills {
    min-height: inherit;
  }
  .skills__content h1,
.skills__content p {
    -moz-text-align-last: left;
         text-align-last: left;
  }
  .skills__icons {
    gap: 3rem;
  }
  .skills__icons--wrapper {
    width: auto;
  }
  .portfolio__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .portfolio__filter {
    font-family: "Inter", sans-serif;
  }
  .portfolio__filter a:not(:last-child) {
    margin-right: 0.5rem;
  }
  .portfolio__gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .portfolio .show-tablet {
    display: block;
  }
}
@media screen and (min-width: 1024px) {
  body::before {
    height: 75vh;
    width: 30vw;
  }
  .home {
    margin-top: 5rem;
  }
  .home__details {
    grid-column: 2/8;
    grid-row: 4/7;
  }
  .home__image {
    grid-column: 9/10;
    grid-row: 3/8;
  }
  .home__socials {
    grid-column: -1;
    grid-row: 4/7;
  }
  .skills__content {
    display: flex;
    align-items: center;
  }
  .skills__content h1 {
    margin-right: 4rem;
  }
  .portfolio {
    max-width: 100vw;
  }
  .portfolio__gallery {
    max-width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
  }
  .portfolio__gallery h1 {
    font-size: 1.25rem;
    font-weight: 300;
    font-family: "Inter", sans-serif;
    margin: 0.75rem 0;
  }
  .portfolio__gallery button {
    font-size: 0.5rem;
  }
  .portfolio__gallery img {
    max-width: 250px;
  }
  .portfolio .show-desktop {
    display: block;
  }
}/*# sourceMappingURL=main.css.map */