@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;500;700&family=Inter:wght@100;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000;
}

a:link,
a:visited {
  text-decoration: none;
}

* {
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
p,
span,
a {
  color: #fff;
}

section {
  min-height: 100vh;
}

body {
  background-color: #1c1a27;
}

h1,
h2 {
  font-family: "Cormorant", serif;
  font-weight: 400;
  font-size: 2rem;
  margin: 2rem 0;
}

p {
  line-height: 32px;
}

.hide-mobile {
  display: none;
}

body::before {
  content: "";
  position: absolute;
  background-color: #2a2835;
  height: 100vh;
  width: 70vw;
  top: 0;
  right: 0;
  z-index: -1;
}

.nav {
  display: flex;
  align-items: center;
  height: 4rem;
  padding: 0 2rem;
}
.nav__logo {
  margin-right: auto;
  font-family: "Cormorant", serif;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  color: #ff4aae;
}
.nav__link {
  display: none;
  margin-right: 3rem;
  font-family: "Cormorant", serif;
  letter-spacing: 1px;
  position: relative;
  padding: 8px 0;
}
.nav__link:not(:last-of-type)::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  bottom: 0;
  left: 0;
  background-color: #ff4aae;
  transform-origin: bottom right;
  transition: 250ms ease-in-out;
}
.nav__link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.nav__menu div {
  width: 20px;
  height: 2px;
  margin: 4px 0;
  background-color: #ff4aae;
}
.nav__menu div:nth-child(2) {
  width: 9px;
}
.nav .accent {
  border: solid 1px #ff4aae;
  padding: 0.5rem 1.25rem;
  transition: scale ease-in 300ms;
}
.nav .accent:hover {
  scale: 1.1;
}

.home {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  padding: 0 2rem;
}
.home__details {
  grid-column: span 12;
  grid-row: 2;
}
.home__details h1 {
  font-size: 2.5rem;
}
.home__details h1 span {
  color: #ff4aae;
}
.home__details p {
  padding: 1.5rem 0;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
}
.home__details button {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  margin-top: 2rem;
}
.home__details button i {
  padding-left: 1rem;
  font-size: 1rem;
  color: #ff4aae;
}
.home img {
  max-width: 250px;
}
.home__image {
  display: none;
}
.home__socials {
  display: none;
}

.skills {
  text-align: center;
  padding: 0 2rem;
}
.skills__content p {
  color: rgba(255, 255, 255, 0.5);
}
.skills__icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
}
.skills__icons--wrapper {
  width: 40%;
}
.skills__icons--wrapper i {
  font-size: 4rem;
  color: #2a2835;
}
.skills__icons--wrapper p {
  font-size: 1rem;
  color: #ff4aae;
  font-family: "Cormorant", serif;
}

.portfolio {
  padding: 0 2rem;
  background: linear-gradient(180deg, rgba(42, 40, 53, 0) 100% rgba(255, 255, 255, 0.75) 0%);
}
.portfolio__header {
  margin-bottom: 2rem;
}
.portfolio__filter a {
  color: rgba(255, 255, 255, 0.5);
}
.portfolio__filter a:not(:last-child) {
  margin-right: 2rem;
}
.portfolio__filter--active {
  padding-bottom: 0.5rem;
  border-bottom: solid 2px #ff4aae;
  color: #fff !important;
  font-weight: 700;
  letter-spacing: 2px;
}
.portfolio__gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.portfolio__project button {
  background-color: #292734;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 1rem;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
  font-size: 0.5rem;
  letter-spacing: 1px;
}
.portfolio__project hr {
  margin-bottom: 1rem;
  color: #373542;
}

.journey {
  display: grid;
  padding: 0 2rem;
}
.journey__text p {
  color: rgba(255, 255, 255, 0.75);
}
.journey__image {
  justify-self: center;
}
.journey__image img {
  height: 400px;
  margin: 2rem auto;
}
.journey__experience {
  display: flex;
  flex-direction: column;
}
.journey hr {
  color: #373542;
  margin: 2rem 0 3rem;
}
.journey .experience__item h1 {
  font-size: 1rem;
  margin-bottom: 0;
  font-weight: 700;
}
.journey .experience__item h1 i {
  float: right;
  color: #ff4aae;
}
.journey .experience__item h2 {
  font-size: 0.8rem;
  margin-top: 0;
  color: rgba(255, 255, 255, 0.75);
}
.journey .experience__item ul {
  list-style: none;
}
.journey .experience__item ul li {
  color: #fff;
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.75);
  padding: 0.5rem 0;
}
.journey .experience__item ul li::before {
  content: "•";
  color: #ff4aae;
  font-weight: bold;
  display: inline-block;
  width: 1rem;
  margin-left: -1rem;
}
.journey .accent {
  color: #ff4aae;
  font-size: 1.25rem;
  font-family: "Cormorant", serif;
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 0;
}

.contact {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #2a2835;
  padding: 1rem;
}
.contact__header {
  font-size: 1.5rem;
  font-weight: 500;
}
.contact__header--accent {
  color: #ff4aae;
}
.contact__text {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1rem;
  font-weight: 300;
  line-height: 25px;
  margin-bottom: 2rem;
}
.contact__button {
  padding: 0.8rem 1rem;
  background-color: #474650;
  border: none;
  border-radius: 55px;
  color: #ff4aae;
  font-weight: 300;
}
.contact__button i {
  color: #ff4aae;
  margin-left: 0.25rem;
}

.footer-background {
  margin-top: 4rem;
  width: 100vw;
  background-color: #ff4aae;
}

.footer {
  display: flex;
  align-items: center;
  padding: 0 2rem;
  background: linear-gradient(180deg, rgba(42, 40, 53, 0) 100% rgba(255, 255, 255, 0.75) 0%);
}
.footer h1,
.footer p {
  color: #1c1a27;
}
.footer h1 {
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  body::before {
    height: 55vh;
    width: 50vw;
  }
  .nav__link {
    display: inherit;
  }
  .nav__menu {
    display: none;
  }
  .home {
    grid-template-rows: 1fr 1fr;
    padding: 0;
  }
  .home__details {
    padding: 0 2rem;
  }
  .home__image {
    display: inherit;
    grid-column: 5/8;
  }
  .home__socials {
    margin: auto 0;
    width: 2rem;
    grid-column: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    padding: 1rem 1.8rem;
    background-color: #ff4aae;
    -webkit-animation: pulse 2000ms infinite ease-in;
            animation: pulse 2000ms infinite ease-in;
  }
  .home__socials i {
    font-size: 2rem;
    color: #2a2835;
  }
  .home__socials p {
    font-size: 1.2rem;
    font-weight: bold;
    color: #2a2835;
  }
  .home__socials i:hover,
.home__socials p:hover {
    color: rgba(42, 40, 53, 0.8);
  }
  .skills {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: center;
  }
  .skills__content p {
    text-align: left;
  }
  .skills__icons {
    gap: 3rem;
  }
  .skills__icons--wrapper {
    width: auto;
  }
  .portfolio__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .portfolio__filter a:not(:last-child) {
    margin-right: 0.5rem;
  }
  .portfolio__gallery {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .portfolio .show-tablet {
    display: block;
  }
  .journey {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr 2fr 4fr;
  }
  .journey__header {
    grid-column: 2/9;
  }
  .journey__text {
    grid-column: 4/9;
  }
  .journey__experience {
    grid-column: 4/9;
  }
  .journey__image {
    display: none;
  }
  .contact {
    width: 80vw;
  }
  .contact__header {
    font-size: 2rem;
  }
  .contact__text {
    margin-bottom: 3rem;
  }
  .footer {
    padding: 0 2rem;
  }
}
@media screen and (min-width: 1024px) {
  body::before {
    height: 90vh;
    width: 30vw;
  }
  .home {
    grid-template-rows: 1fr;
    align-items: center;
  }
  .home__details {
    grid-column: 2/8;
    grid-row: 1;
  }
  .home__image {
    grid-column: 9/10;
  }
  .home__socials {
    grid-column: -1;
  }
  .skills__content {
    display: flex;
    align-items: center;
  }
  .skills__content h1 {
    margin-right: 4rem;
    font-size: 2.5rem;
  }
  .portfolio__header {
    width: 1100px;
    margin: 0 auto;
  }
  .portfolio__gallery h1 {
    font-size: 1.25rem;
    font-weight: 300;
    margin: 0.75rem 0;
  }
  .portfolio__gallery button {
    font-size: 0.5rem;
  }
  .portfolio__gallery img {
    max-width: 250px;
  }
  .portfolio .show-desktop {
    display: block;
  }
  .journey {
    grid-template-rows: 1fr 2fr;
    align-items: baseline;
  }
  .journey__header {
    grid-column: 2/4;
    font-size: 2.5rem;
  }
  .journey__text {
    grid-column: 4/8;
  }
  .journey__experience {
    grid-column: 4/8;
  }
  .journey__image {
    display: none;
  }
  .contact {
    width: 60vw;
  }
  .contact__header {
    font-size: 3rem;
  }
}
.hidden-left {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.hidden-right {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(200%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.skills__content {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.skills__content {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.portfolio__project:nth-child(2) {
  transition-delay: 200ms;
}
.portfolio__project:nth-child(3) {
  transition-delay: 400ms;
}
.portfolio__project:nth-child(4) {
  transition-delay: 600ms;
}
.portfolio__project:nth-child(5) {
  transition-delay: 200ms;
}
.portfolio__project:nth-child(6) {
  transition-delay: 400ms;
}
.portfolio__project:nth-child(7) {
  transition-delay: 600ms;
}

@-webkit-keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}/*# sourceMappingURL=main.css.map */